// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Carrois Gothic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}
/* setting the text-align property to center*/
td {
    padding: 5px;
    text-align:center;

}
